.kithacsl {
  width: 900px;
  height: 500px;
  background: #060606;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  border-top: 10px solid #6c698c;
  border-left: 10px solid #6c698c;
  border-bottom: 10px solid #922828;
  border-right: 10px solid #922828;
}

.cslbimg1, .cslbimg2{
  width: 250px; height:500px;
  filter: grayscale(100%);
  overflow: hidden;
  transition: 0.5s;
}

.cslbimg1:hover .cslnbce{
  top: 375px;
  transition: 0.5s ease-in-out;
}
.cslnbce{
  width: 250px;
  height: 125px;
  background: #060606be;
  position: relative;
  border-top: 1px dashed #000;
  top: 500px;
  padding: 15px;
  display: flex;
  box-sizing: border-box;
  mix-blend-mode: hard-light;
  align-items: left;
  transition: 0.5s ease-in-out;
  transition-delay: 0.2s;
}

.pjtag {
  font: 900 20px Arial;
  margin: 15px 5px;  color: white;
  mix-blend-mode: normal;
  min-height: 150px;
}

.pjlinks{
  display: grid;
  width: 55px;
  justify-content: center;
}

.pjlinks a{
  text-decoration: none!important;
  display: inline-block;
  color: #efefef;
  font-size: 18px;
  border: 1px solid #efefef;
  width: 28px; height: 28px;
  box-sizing: border-box;
  padding: 1px 8px;
  transform: rotate(-135deg);
  transition: 0.5s;
}

.pjlinks a:hover{
 transform: rotate(0deg);
 transition: 0.5s ease-in;
 border: 1px dashed #efefef;
}
