/*PRIYA SIG1*/
.zaryasig{
width: 250px;
    height: 210px;
    margin: 5px auto;
    border: 8px solid #101010;
    outline-offset: -8px;
    outline: 2px solid #a8710a;
    background: url(https://i.ibb.co/bJvK5ph/priya2.png);
    overflow: hidden;
    transition: all ease-in-out 1s;
}

.zaryatxt {
    width: 200px;
    text-align: justify;
    letter-spacing: 2px;
    font: 8px arial;
    color: #f3f3f3;
    text-transform: uppercase;
    margin: auto;
    line-height: 8px;
    position: relative;     top: 165px;
    transition: all ease-in-out 1s;
    transition-delay: 0.2s;
  text-shadow: 0px 1px 0 black;
}

.zaryasig:hover {
  filter:brightness(50%) grayscale(25%);
  transition: all ease-in-out 1.5s;
}

.zaryasig:hover .zaryatxt{
  top: 210px;
  transition: all ease-in-out 1s;
}

@keyframes flames { 
  0% { color: #fcd488 } 
  20% { color: #fba53a; } 
  40% { color: #fb443a; } 
  60% { color: #b31800; }
  80% { color: #fb7e3a; }
  100% { color: #fcd488 } 
} 

#pyro {
  animation: flames 6s linear infinite;
  position: absolute;
  font-size: 20px;
  top: 110px;
  left: 115px;
  transform: scale(0.2);
  opacity: 0;
  transition: all ease-in-out 1s;
}

.zaryasig:hover #pyro{
  transform: scale(1);
    opacity: 1;
   transition: all ease-in-out 1s;
}
