#cece-inf{
width: 450px;
    height: 450px;
    margin: 0 auto;
    background: #0c0c0cd1;
    outline: 6px solid #0c0c0cd1;
    outline-offset: 6px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
}

#culpable {
color: #6c698c;
font-size: 60px;
}

.cename {
  width: 100px; 
  height: 450px;
  order: 1;
  flex-basis: auto;
}

.ceimag{
  width: 350px; 
  height: 450px;
  order: 2;
  flex-basis: auto;
}

.ceimag .cecebox{
    width: 360px;
    height: 470px;
    opacity: 0;
    padding: 15px;
    box-sizing: border-box;
    align-items: center;
    transform: scale(0.65);
    transition: 0.7s;
    margin-top: -8px;
    background: black;
}

.ceimag:hover .cecebox {
  transition: 0.7s;  
  opacity: 0.95;
  transform: scale(0.98);
}

.cecebox .cecetxt {
  font: 12px calibri; -webkit-columns: 50px 2; text-align: justify; overflow: auto; width: 98%; height: auto; color: #c3c3c3; line-height: 13px;}

.cecebox .cecetxt b {color: #78759c!important; text-transform: uppercase; font-weight: 700;} 

.cecebox span{ font: 900 20px calibri; letter-spacing: 3px;}

.nametag {
font: 700 30px Calibri;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #C3C3C3;
    transform: rotate(-90deg);
    display: block;
    position: relative;
    top: 142px;
    width: 320px;
    left: -114px;
}
