#reasig {
  width: 320px;
  height: 200px;
  padding: 10px;
    margin: 0px auto;
    overflow: hidden;
  background: linear-gradient(to bottom right,#ab1111,#101010);
}

#rea-img {
  height: 200px;
  width: 320px;
   transition: ease 0.6s;
}

 #reasig:hover #rea-img {
filter: blur(2px);
 transition: ease 0.6s;
 transition-delay: 0.4s;
}

#reasig .silver {
    width: 321px;
  height: 202px;
  position: absolute;
  margin-top: -200px;
  background: #101010;
  filter: brightness(75%);
  transform: scale(0.25);
  opacity: 0;
  transition: ease 0.6s;
}

#reasig:hover .silver {
  transform: scale(1);
  opacity: 0.65;
  transition: ease 0.8s;
  }

.silver .txt1 {
width: 265px;
    text-align: center;
    line-height: normal;
   font: 600 10px arial;
    letter-spacing: 1px;
    transition: ease 0.6s;
    color: white;
    margin: 30px;
}

.reagn {
text-align: center;
    color: #f6f6f6;
    text-shadow: 1px 5px 0px #ab1111;
    font: 700 50px 'Fjalla One';
    letter-spacing: 8px;
    margin: 10px 0;
}
