:root {
    --tjaccent: #922828;
    --tjborders: #423e3e59;
    --tjacento: #080808;
}

/**PORTADA BAUL**/
.tjtrunk {
  width: 875px; height: 600px;
  box-sizing: border-box;
  margin: 0 auto;
  background: transparent;
  border: 1px solid var(--tjacento);
  display: inline-flex;
  margin: 5px auto;
}

.tjmainbox {
  width: 390px;  height: 600px;
  box-sizing: border-box;
  padding: 15px;
  background: linear-gradient(to left top,#922828,#080808, #080808);
  order: 1;
}

.tjmainimg {
  width: 445px; height: 600px;
  box-sizing: border-box;
  padding: 15px;
  background: var(--tjacento);
  order: 2;
}

.tjmainbx {
  width: 40px; height: 600px;
  box-sizing: border-box;
  padding: 15px;
  background: var(--tjacento);
  order: 3;
}

.tjmainbox .tjquote {
 width: 280px; 
 font: italic 11px calibri;
 line-height: 15px; 
 text-align: center; padding: 10px; 
 color: #d4cece; 
 letter-spacing: 6px; 
 position: relative; 
 top: 150px; left: 15px; 
 border-bottom: 1px solid #423e3e59; 
 border-top: 1px solid #423e3e59;
}

.tjmainbox .tjname {
 width: 420px;
 font: 80px 'Vidaloka';
 position: relative; 
 top: 150px; left: 130px; 
 color: #efefef;
 text-shadow: 0px 1px 2px var(--tjacento);
 -webkit-text-stroke: 2px #423e3e59;
}

.tjname:after{
    width: 150px; height: 0.5px;
    background: #423e3e59;
    content: ' ';
    display: block;
    position: relative;
    top: -100px; left: 170px;
  }

.tjname span{
  display: block;
  font: 80px 'Italianno';
  position: relative;
  top: -86px; left: 120px;
  color: #922828;
  text-shadow: 0 1px 0 var(--tjacento);
  -webkit-text-stroke: 0;
}

.tjmainbx tpl{
    color: #d4cece;
    width: 250px; height: 25px;
    display: inline-flex;
    transform: rotate(-90deg);
    position: relative;
    left: -120px; top: 90px;
    font: 400 20px 'Vidaloka';
    letter-spacing: 2px;
}

.tjmainimg .tjlinks {
   position: absolute;
   margin-top: 275px;
   margin-left: -42px;
   width: 45px;
}

.tjmainimg .tjlinks a {
    border-radius: 100%;
    text-decoration: none;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    width: 36px;
    height: 36px;
    margin: 10px 0 5px 8px;
    background: var(--tjacento);
    color: #d4cece;
}

/**BASICS**/
.tjfactsbox {
  width: 280px;
  height: 600px;
  box-sizing: border-box;
  padding: 5px;
  background: var(--tjacento);
}

.tjfactsbox2 {
  width: 275px;
  height: 600px;
  box-sizing: border-box;
  padding: 15px;
    background: linear-gradient(to left top,#922828,#080808,#080808, #922828);
  border-left: 2px solid var(--tjborders);
  border-right: 2px solid var(--tjborders);
}

.tjfctlb {
    width: 40px;
    height: 600px;
    box-sizing: border-box;
    padding: 15px;
    background: var(--tjaccent);
}

.tjfctlb tpl {
    color: #d4cece;
    width: 250px;
    height: 25px;
    display: inline-flex;
    transform: rotate(-90deg);
    position: relative;
    left: -120px;
    top: 115px;
    font: 400 20px 'Vidaloka';
    letter-spacing: 2px;
}

.tjfactsbox .factsbox{
font: italic 13px calibri;
    text-align: justify;
    text-transform: lowercase;
    letter-spacing: 1px;
    overflow: auto;
    width: 90%;
    height: 455px;
    color: #d4cece;
    margin: 25px 15px;
    line-height: 20px;
}

.tjfactsbox .factstit{
  width: 260px;
    font: 60px 'Vidaloka';
  text-align: center;
      color: #efefef;
    text-shadow: 0px 1px 2px #080808;
    -webkit-text-stroke: 2px var(--tjborders);
  margin-top: 15px;
}

.factstit:after {
width: 70px;
    height: 0.5px;
    background: var(--tjborders);
    content: ' ';
    display: block;
    position: relative;
    top: 0px;
    left: 100px;
}

.tjfactsbox .factsbox tfc {
    color: var(--tjaccent);
    text-transform: uppercase;
 font: 800 16px calibri;
}

.tjfactsbox2 .tjcc {
width: 150px;
    height: 150px;
    background: var(--tjaccent);
    border-radius: 50%;
    padding: 1px;
    border: 4px solid var(--tjborders);
    margin: 5px 45px;
    background: url(https://i.imgur.com/fDAHAqQ.gif) no-repeat border-box;
}

.tjfactsbox2 span {
    display: block;
    font: 55px 'Italianno';
    margin: 15px 45px;
    color: #922828;
    text-shadow: 0 1px 0 #080808;
    -webkit-text-stroke: 0;
}

.tjfactsbox2 #ff1 {
  color: #d4cece;
  display: inline-block;
  margin: -1px 2px;
  font-size: 18px;  
}

.tjfactsbox2 #ff2 {
  color: var(--tjaccent);
  display: inline-block;
  margin: -1px 2px;
  font-size: 18px; 
}

/**PROGRESO**/
.tjtrunk2 {
  max-width: 565px;
    margin: 0 auto;
    background: transparent;
    border: 1px solid var(--tjacento);
    display: flex;
    margin: 5px auto;
    flex-wrap: wrap;
}
.tjtrunk2 .prgrs-1 {
 flex: 1 calc(45% - 20px);
 min-width: 240px;
 order: 1;
 border-right: 2px solid var(--tjborders);
 background: linear-gradient(to right top,#922828,#080808, #080808);
}

.tjtrunk2 .prgrs-2 {
  flex: 1 calc(45% - 20px);
  min-width: 240px;
  order: 2;
  border-right: 2px solid var(--tjborders);
  background: linear-gradient(to left top,#922828,#080808, #080808);
}

.prgrs-1 .prgtit, .prgrs-2 .prgtit {
    width: 260px;
    font: 60px 'Vidaloka';
    text-align: center;
    color: #efefef;
    text-shadow: 0px 1px 2px #080808;
    -webkit-text-stroke: 2px var(--tjborders);
    margin-top: 15px;
}

.prgtit:after {
    width: 45%;
    height: 0.5px;
    background: #423e3e59;
    content: ' ';
    display: block;
    position: relative;
    margin: auto;
}

.statag {
 display: flex;
 justify-content: center; 
 align-items: center;
 padding: 10px;
 margin: 10px 0;
}

.statag st {
  border-radius: 100%;
  width: 34px;  height: 34px;
  background: var(--tjaccent); 
  color: var(--tjtxtc);
  font: 11px calibri;
  line-height: 32px;
  text-align: center;
  margin: 2px;
  border: 1px solid var(--tjborders);
}

.prgrs-1 span, .prgrs-2 span{
  color: var(--tjaccent);
  text-transform: uppercase;
  font: 800 17px calibri;
  }

.prgrs-1 a, .prgrs-2 a{
  text-decoration: none;
  color: var(--tjtxtc);
}
